<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pat-s.gitea</string>
	<key>connections</key>
	<dict>
		<key>062602E1-BCE3-4512-BE62-C2B983892F6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>673BA5EB-6B97-4DB7-B4ED-524980FCD44A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2652FC1D-FD24-4B86-9AA5-7F4BD14CF14F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EAFE45A-C48E-48BD-927D-05310B90F465</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3FD25D48-DC7D-4AF9-A885-8CA7835F38CE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9DE2138E-3113-45AF-AADC-3FC96C3E70BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>43190A21-5507-4EC7-AAE7-08524F652621</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E29B633A-0288-4B74-9281-7E0C7CB89952</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F2AB842-E03F-4CCC-A460-C012CD9AABB8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AF1A569-3E8E-40A2-8D88-32D557568F28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>673BA5EB-6B97-4DB7-B4ED-524980FCD44A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8AF1A569-3E8E-40A2-8D88-32D557568F28</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>673DCF4B-FFDA-4691-B380-A5C09F57F396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2652FC1D-FD24-4B86-9AA5-7F4BD14CF14F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>70E08222-8577-40BF-880A-64806BC42552</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F2AB842-E03F-4CCC-A460-C012CD9AABB8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>7721B240-9DC1-49E4-A480-A4D422557660</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>062602E1-BCE3-4512-BE62-C2B983892F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3FD25D48-DC7D-4AF9-A885-8CA7835F38CE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9DE2138E-3113-45AF-AADC-3FC96C3E70BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>70E08222-8577-40BF-880A-64806BC42552</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A5D12149-ECF6-41B4-BD7B-494393E20017</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BDAD15D7-A5DE-4832-BBCD-1F965BC10E92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BDAD15D7-A5DE-4832-BBCD-1F965BC10E92</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>219A33B7-3B8F-4841-99B2-FFEE86AEEBB9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C6E5186C-7FE6-462B-A507-4C14FE7BD257</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E733578E-EEE5-4E86-BC2C-843D47757881</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E29B633A-0288-4B74-9281-7E0C7CB89952</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A6B15E3-80F5-4D19-BE9E-77E1814CF370</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F58CD04C-B3C4-4FB7-A6A8-6413827C2055</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C6E5186C-7FE6-462B-A507-4C14FE7BD257</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Patrick Schratz</string>
	<key>description</key>
	<string>Alfred Gitea workflow</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Gitea</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{var:repo}/{var:subfolder}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>8AF1A569-3E8E-40A2-8D88-32D557568F28</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
					<key>subfolder</key>
					<string></string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>673BA5EB-6B97-4DB7-B4ED-524980FCD44A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:quick_open}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>062602E1-BCE3-4512-BE62-C2B983892F6B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>tea</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Fetching Gitea projects...</string>
				<key>script</key>
				<string>python gitea.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Search for Gitea projects</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7721B240-9DC1-49E4-A480-A4D422557660</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Code"},{"title":"Issues","arg":"issues"},{"title":"Pull Request","arg":"pulls"},{"title":"Releases","arg":"releases"}]</string>
				<key>keyword</key>
				<string>vget</string>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Overview</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>70E08222-8577-40BF-880A-64806BC42552</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>subfolder</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>5F2AB842-E03F-4CCC-A460-C012CD9AABB8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:quick_open}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>3FD25D48-DC7D-4AF9-A885-8CA7835F38CE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>repo</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9DE2138E-3113-45AF-AADC-3FC96C3E70BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gitea.py --setkey "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C6E5186C-7FE6-462B-A507-4C14FE7BD257</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Gitea Access Token has been saved.</string>
				<key>title</key>
				<string>Saved Access Token</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>E733578E-EEE5-4E86-BC2C-843D47757881</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tea set key</string>
				<key>subtext</key>
				<string>Enter your Gitea Access Token and hit ENTER</string>
				<key>text</key>
				<string>Set your Gitea Access Token</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F58CD04C-B3C4-4FB7-A6A8-6413827C2055</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Your Gitea URL has been saved.</string>
				<key>title</key>
				<string>Saved Gitea URL</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>7EAFE45A-C48E-48BD-927D-05310B90F465</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python gitea.py --seturl "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>2652FC1D-FD24-4B86-9AA5-7F4BD14CF14F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>tea set url</string>
				<key>subtext</key>
				<string>Enter your Gitea URL and hit ENTER</string>
				<key>text</key>
				<string>Set your Gitea URL</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>673DCF4B-FFDA-4691-B380-A5C09F57F396</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python reset.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E29B633A-0288-4B74-9281-7E0C7CB89952</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Resetted 'tea' workflow settings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0A6B15E3-80F5-4D19-BE9E-77E1814CF370</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tea reset</string>
				<key>subtext</key>
				<string>Removes cache, url and tokens set</string>
				<key>text</key>
				<string>Reset 'tea' workflow settings</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>43190A21-5507-4EC7-AAE7-08524F652621</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>Cleared 'tea' workflow cache</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>219A33B7-3B8F-4841-99B2-FFEE86AEEBB9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python clear-cache.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BDAD15D7-A5DE-4832-BBCD-1F965BC10E92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tea clearcache</string>
				<key>subtext</key>
				<string>Removes the cache</string>
				<key>text</key>
				<string>Clear the 'tea' workflow cache</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A5D12149-ECF6-41B4-BD7B-494393E20017</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Setup and Usage

* Generate a Gitea access token (https://&lt;host&gt;/user/settings/applications then run `tea set key &lt;yourkey&gt;`

* (Optionally) Tell it where the Gitea API you want to connect to is by running `tea set url https://&lt;host&gt;/api/v1/repos/search`
  * Defaults to try.gitea.io domain

* search for projects with `tea &lt;search&gt;`</string>
	<key>uidata</key>
	<dict>
		<key>062602E1-BCE3-4512-BE62-C2B983892F6B</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>0A6B15E3-80F5-4D19-BE9E-77E1814CF370</key>
		<dict>
			<key>xpos</key>
			<integer>455</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>219A33B7-3B8F-4841-99B2-FFEE86AEEBB9</key>
		<dict>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>2652FC1D-FD24-4B86-9AA5-7F4BD14CF14F</key>
		<dict>
			<key>xpos</key>
			<integer>260</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>3FD25D48-DC7D-4AF9-A885-8CA7835F38CE</key>
		<dict>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>43190A21-5507-4EC7-AAE7-08524F652621</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>5F2AB842-E03F-4CCC-A460-C012CD9AABB8</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>673BA5EB-6B97-4DB7-B4ED-524980FCD44A</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>673DCF4B-FFDA-4691-B380-A5C09F57F396</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>70E08222-8577-40BF-880A-64806BC42552</key>
		<dict>
			<key>xpos</key>
			<integer>410</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>7721B240-9DC1-49E4-A480-A4D422557660</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7EAFE45A-C48E-48BD-927D-05310B90F465</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>410</integer>
		</dict>
		<key>8AF1A569-3E8E-40A2-8D88-32D557568F28</key>
		<dict>
			<key>xpos</key>
			<integer>690</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>9DE2138E-3113-45AF-AADC-3FC96C3E70BF</key>
		<dict>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>A5D12149-ECF6-41B4-BD7B-494393E20017</key>
		<dict>
			<key>xpos</key>
			<integer>35</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>BDAD15D7-A5DE-4832-BBCD-1F965BC10E92</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>745</integer>
		</dict>
		<key>C6E5186C-7FE6-462B-A507-4C14FE7BD257</key>
		<dict>
			<key>xpos</key>
			<integer>255</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>E29B633A-0288-4B74-9281-7E0C7CB89952</key>
		<dict>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>620</integer>
		</dict>
		<key>E733578E-EEE5-4E86-BC2C-843D47757881</key>
		<dict>
			<key>xpos</key>
			<integer>465</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>F58CD04C-B3C4-4FB7-A6A8-6413827C2055</key>
		<dict>
			<key>xpos</key>
			<integer>25</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>quick_open</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>quick_open</string>
	</array>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/pat-s/alfred-gitea</string>
</dict>
</plist>
